<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


  </head>


<style>
    body{margin-top:20px;
        background:#eee;
        }
        
        /* CONTACTS */
        .wrapper {
            width: 1170px;
            margin: auto;
            height: 89px;
        }
        .contact-box {
          background-color: #ffffff;
          border: 1px solid #e7eaec;
          padding: 20px;
          margin-bottom: 20px;
        }
        .contact-box > a {
          color: inherit;
        }
        .contact-box.center-version {
          border: 1px solid #e7eaec;
          padding: 0;
        }
        .contact-box.center-version > a {
          display: block;
          background-color: #ffffff;
          padding: 20px;
          text-align: center;
        }
        .contact-box.center-version > a img {
          width: 80px;
          height: 80px;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .contact-box.center-version address {
          margin-bottom: 0;
        }
        .contact-box .contact-box-footer {
          text-align: center;
          background-color: #ffffff;
          border-top: 1px solid #e7eaec;
          padding: 15px 20px;
        }
        a{
            text-decoration:none !important;    
        }
        .nav-area {
            float: right;
            list-style: none;
            margin-top: 30px;
            color: #333;

        }
        .nav-area li {
            display: inline-block;
            color: #333;

        }
        .nav-area li a {
            color: #fff;
            color: #333;

            text-decoration: none;
            padding: 5px 20px;
            font-family: poppins;
            font-size: 16px;
            text-transform: uppercase;
        }
        .nav-area li a:hover {
            background: #fff;
            color: #333;
        }

</style>

  <body>
    <div class="wrapper">
        
<ul class="nav-area">
<li><a href="/home">Home</a></li>

<li><a href="/auth/google">Face Recognition</a></li>

<li><a href="#">Contact Officials</a></li>
</ul>
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-box center-version">
                    <a >
                        <img alt="image" class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar3.png">
                        <h3 class="m-b-xs"><strong>Miss. Shreya</strong></h3>
            
                        <div class="font-bold">Chairman for Women Welfare</div>
                        <address class="m-t-md">
                            <strong>Banglore City Co-orperation</strong><br>
                           Near Nandi Hills<br>
                            Banglore<br>
                            <abbr title="Phone">P:</abbr> (91) 989-898-7890
                        </address>
            
                    </a>
                    <!-- 
                    <div class="contact-box-footer">
                        <div class="m-t-xs btn-group">
                            <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                            <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                            <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                        </div>
                    </div>
                    -->
            
                </div>
            </div>
            <div class="col-md-3">
                <div class="contact-box center-version">
                    <a>
                        <img alt="image" class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar6.png">
                        <h3 class="m-b-xs"><strong>Mr. Pandey</strong></h3>
            
                        <div class="font-bold">Deputy Child Welfare Officer</div>
                        <address class="m-t-md">
                            <strong>State Secretariat</strong><br>
                            Near Raj Bhavan<br>
                            New Delhi<br>
                            <abbr title="Phone">P:</abbr> (91) 878-784-7890
                        </address>
            
                    </a>
                    <!--
                    <div class="contact-box-footer">
                        <div class="m-t-xs btn-group">
                            <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                            <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                            <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                        </div>
                    </div>
                    -->
            
                </div>
            </div>
            <div class="col-md-3">
                <div class="contact-box center-version">
                    <a >
                        <img alt="image" class="img-circle" src=" https://bootdey.com/img/Content/avatar/avatar1.png">
                        <h3 class="m-b-xs"><strong>John Smith</strong></h3>
            
                        <div class="font-bold">Deputy Commissioner Of Police</div>
                        <address class="m-t-md">
                            <strong>Crime Branch</strong><br>
                           Vijayawada<br>
                            Andhra Pradesh<br>
                            <abbr title="Phone">P:</abbr> (91) 123-456-7890
                        </address>
            
                    </a>
                    
                    

            
                </div>
            </div>
        </div>
    </div>



  </body>
</html>
